<header>
  <link href="/css/header.css" rel="stylesheet">
  <nav>
    <div class="container">
      <div class="row align-items-center" style="padding-top: 16px;">
        <!-- Columna para el logo en pantallas pequeñas -->
        <div class="col-auto d-lg-none">
          <a class="navbar-brand" href="/">
            <img src="/assets/icon/store-gensystem_icon.svg" alt="STORE GENSYSTEM">
          </a>
        </div>
        <!-- Columna para el logo en pantallas grandes -->
        <div class="col-auto d-none d-lg-block">
          <a class="navbar-brand" href="/">
            <img src="/assets/logo/store-gensystem_logo_name.svg" alt="STORE GENSYSTEM">
          </a>
        </div>
        <!-- Columna para el campo de búsqueda (se expande) -->
        <div class="col flex-grow-1">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        </div>
        <!-- Columna para el botón del navbar-toggler -->
        <div class="col-auto d-lg-none">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
          </button>
        </div>
      </div>
      <!-- bar -->
      <div class="navbar navbar-expand-lg">
        <div class="row">
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header m-0 p-0 text-center align-items-center">
              <div class="offcanvas-titlr flex-grow-1" id="offcanvasNavbarLabel">
                <h5 class="m-0">MENU</h5>
              </div>
              <button type="button" id="close_btn" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi bi-x"></i>
              </button>
            </div>
            <div class="offcanvas-body p-0">
              <ul class="navbar-nav justify-content-end flex-grow-1">
                <a class="p-2 enlace" href="/quienes-somos">
                  <h4>QUIENES SOMOS</h4>
                </a>
                <a class="p-2 enlace" href="/contacto">
                  <h4>CONTACTO</h4>
                </a>
                <a class="end" href="/productos">
                  <h4>PRODUCTOS</h4>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- botón whatsapp flotante -->
  <a href="<%= social_links.whatsapp_send %>" class="whatsapp_float d-flex align-items-center justify-content-center"
    target="_blank">
    <i class="bi bi-whatsapp"></i>
  </a>
</header>