nav {
  background-color: var(--primary-color);
}

.end {
  padding-bottom: 8px;
}

img {
  height: 30px;
}

i {
  font-style: normal;
}

a {
  color: white;
  /* Cambia el color a rojo. Puedes usar cualquier valor de color que desees */
  text-decoration: none;
  /* Quita la subrayado predeterminado del enlace, si lo deseas */
}

h4 {
  font-size: medium;
  margin: 0;
}

.navbar-toggler {
  color: #fff;
  border-radius: 0%;
  background-color: var(--primary-color);
  border-width: 0;
  padding: 6px;
  font-size: 30px;
}

.navbar-toggler:hover {
  background-color: #23509b;
}

.end {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.offcanvas {
  background-color: var(--primary-color);
}

.offcanvas-titlr {
  color: #fff;
}

#close_btn {
  color: #fff;
  border-radius: 0%;
  background-color: var(--primary-color);
  border-width: 0;
  font-size: 30px;
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  font-size: 30px;
  z-index: 100;
}

.whatsapp_float:hover {
  background-color: #128C7E;
  color: #FFF;
}

.enlace {
  display: flex;
  align-items: center;  /* Centra verticalmente */
  height: 100%;         /* Ajusta según la altura del contenedor */
}