<div class="container" 
  style="height: calc(100vh - 78px); display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;">
  <div class="row">
    <h3>
      Página no encontrada
    </h3>
  </div>
  <div class="row">
    <h1 style="font-size: 50px;">
      404 ERROR
    </h1>
  </div>
</div>