<!-- style -->
<link href="/css/page/index.css" rel="stylesheet">

<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="element">
        <i class="bi bi-card-image"></i>
      </div>
    </div>
    <div class="carousel-item">
      <div class="element">
        <i class="bi bi-card-image"></i>
      </div>
    </div>
    <div class="carousel-item">
      <div class="element">
        <i class="bi bi-card-image"></i>
      </div>
    </div>
  </div>
</div>

<!-- SISTEMAS ELÉCTRICOS -->
<div class="center" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row center">
      <div class="col">
        <h3>SISTEMAS ELÉCTRICOS</h3>
        <p>
          Encontrarás una amplia gama de materiales eléctricos en la tienda, ideales para asegurar una instalación
          segura y eficiente. Desde cables resistentes hasta interruptores confiables, tableros,
          tomacorrientes versátiles y mucho mas, todo lo necesario para equipar cualquier espacio, ya sea tu hogar o tu
          lugar de
          trabajo. Visita la tienda y descubre todo lo que puedes necesitar para tus proyectos eléctricos.
        </p>
      </div>
      <div class="col p-0">
        <div class="container position-relative facts-widget-content scrollbar">
          <div class="row row-cols-auto align-items-end">
            <!-- padding -->
            <div class="col p-0" style="width: 20px;"></div>
            <!-- data -->
            <div class="col p-0">
              <img class="rounded" src="/assets/index/cables-unipolares.png" alt="Cables unipolares"
                id="cables-unipolares">
            </div>
            <div class="col p-0" style="width: 20px;"></div>
            <div class="col p-0">
              <img class="rounded" src="/assets/index/gabinete.png" alt="Gabinete" id="gabinete">
            </div>
            <div class="col p-0" style="width: 20px;"></div>
            <div class="col p-0">
              <a href="/productos">
                <div class="rounded center" id="mas">
                  <i class="bi bi-plus"></i>
                </div>
              </a>
            </div>
            <!-- padding end -->
            <div class="col p-0" style="width: 20px;"></div>
          </div>
          <div class="row" style="height: 20px;"></div>
          <div class="row row-cols-auto ">
            <!-- padding -->
            <div class="col p-0" style="width: 42px;"></div>
            <!-- data -->
            <div class="col p-0">
              <img class="rounded" src="/assets/index/disyuntor-diferencial.png" alt="Disyuntor-diferencial"
                id="disyuntor-diferencial">
            </div>
            <div class="col p-0" style="width: 20px;"></div>
            <div class="col p-0">
              <img class="rounded" src="/assets/index/tapas-interruptores.png" alt="Tapas interruptores"
                id="tapas-interruptores">
            </div>
            <!-- padding end -->
            <div class="col p-0" style="width: 20px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ILUMINACIÓN -->
<div style="position: relative; height: 400px;">
  <div class="container-fluid expanded">
    <div class="row expanded">
      <div class="col d-none d-lg-block" style="background-color: var(--secondary-color);">
      </div>
      <div class="col p-0 item-1">
      </div>
    </div>
  </div>
  <div class="container overlay-content">
    <div style="position: absolute; color: white;">
      <div class="row justify-content-center">
        <div class="col-7">
          <h3 class="p-3" style="background-color: var(--primary-color);">ILUMINACIÓN</h3>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row row-cols-auto">
        <div class="col-lg-6">
          <p>
            Proporcionamos soluciones de iluminación adaptadas a cada proyecto, desde espacios residenciales hasta
            grandes infraestructuras. Con años de experiencia en el sector, te acompañamos en la elección de los
            productos adecuados y en el diseño de sistemas de iluminación eficientes y estéticamente armoniosos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ASESORAMIENTO TÉCNICO -->
<div class="center" style="padding-top: 20px; padding-bottom: 20px; height: 300px;">
  <div class="container center>
    <div class=" col-12 col-md-6">
    <h3>ASESORAMIENTO TÉCNICO</h3>
    <p>
      Nos comprometemos a brindarte el mejor soporte para tus proyectos eléctricos. Nuestro equipo de expertos está
      listo para asesorarte en la selección de materiales eléctricos e iluminación, garantizando soluciones seguras,
      eficientes y adaptadas a tus necesidades.
    </p>
  </div>
</div>

<!-- location -->
<div id="location">
  <div class="container">
    <h3 style="color: white;">NO ENCONTRAMOS </h3>
    <iframe class="rounded"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d706.26035707989!2d-68.46160311516435!3d-33.190744596159675!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e5c3c7280bd71%3A0x8281de8807517e7d!2sDaylight%20S.A.!5e0!3m2!1ses-419!2sar!4v1728240939463!5m2!1ses-419!2sar"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>